<h1>Recipe</h1>
<h2><%= recipeFound.title %></h2>
<h2><%= recipeFound.cookingTime %></h2>
<h2><%= recipeFound.difficulty %></h2>
<ul>
  <% recipeFound.ingredients.forEach(ingredient => { %>
  <li><%= ingredient %></li>
  <% }) %>
</ul>
<a href="/recipes/<%- recipeFound._id %>/update">Modify</a>
<form method="POST" action="/recipes/<%- recipeFound._id %>/delete">
  <button type="submit">Delete</button>
</form>
<div>
  <p>About the cook</p>
  <h4><%= recipeFound.owner.firstname %></h4>
  <p>Loving pet: <%= recipeFound.owner.dog %></p>
</div>
